{$ASM_PUBLIC_DOMAIN} {
    encode gzip zstd

    tls {$ASM_TLS_EMAIL}

    reverse_proxy ai-stock-monitoring:{$ASM_PORT} {
        header_up X-Forwarded-Proto {scheme}
        header_up X-Forwarded-Host {host}
        header_up X-Forwarded-For {remote_host}
    }
}
